{{ include('base/page_header.html.twig') }}
<h4>Total ASIN parsed: {{ count }} </h4>
<table class="table table-bordered table-responsive table-striped table-condensed" style="width: auto; margin-top: 20px;">
    <thead>
    <tr>
        <th>ASIN</th>
        <th>Title</th>
        <th>Price</th>
        <th>Qty Offers</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.asin }}</td>
            <td>{{ item.title }}</td>
            <td style="width: 100px;">{{ item.price }}</td>
            <td>{{ item.qtyOffers }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ include('base/page_footer.html.twig') }}