{{ include('base/page_header.html.twig') }}



<h4>Success: {{ success }}, Skip: {{ fail }}, Total: {{ total }} </h4>
{% for item in items %}
    <hr style="border: 2px solid black">
<table class="table table-bordered table-responsive table-striped table-condensed" style="width: auto; margin-top: 20px;">
    <thead>
    <tr>
        <th>SellerID</th>
        <th>Total Count</th>
        <th>Seller Name</th>
        <th>Review Positive, %</th>
        <th>Review Count</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td><a target="_blank" href="https://www.amazon.de/sp?_encoding=UTF8&marketplaceID=A1PA6795UKMFR9&seller={{ item.sellerId }}">
                    {{ item.sellerId }}
                </a>
            </td>
            <td><a target="_blank" href="https://www.amazon.de/s?marketplaceID=A1PA6795UKMFR9&merchant={{ item.sellerId }}">
                    {{ item.totalCount }}
                </a>
            </td>
            <td>{{ item.sellerName }}</td>
            <td>{{ item.reviewPositive }}</td>
            <td>{{ item.reviewCount }}</td>
        </tr>

    </tbody>
</table>
<div>

    <table>
        <tbody>
        <tr>
            <td><h4>Info:</h4>
                {{ item.info | raw}}</td>
        </tr>
        <tr>
            <td><h4>Impressum:</h4>
                {{ item.impressum | raw}}</td>
        </tr>
        <tr>
            <td><h4>Review Block:</h4>
                {{ item.reviewBlock | raw }}
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>


</div>
<div>

</div>
{% endfor %}
{{ include('base/page_footer.html.twig') }}