{{ include('base/page_header.html.twig') }}
<div style="margin: 200px auto; width: 700px;">
    <table class="table table-bordered table-striped" style="width: auto; margin-top: 20px;">
        <thead>
        <tr>
            <th>Seller with offers count > 0</th>
            <th>Sellers In Progress</th>
            <th>Sellers Fully Parsed</th>
            <th>Pages Parsed</th>
            <th>CPU</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="total">{{ total }}</td>
            <td id="progress">{{ progress }}</td>
            <td id="parsed">{{ parsed }}</td>
            <td id="pages">{{ pages }}</td>
            <td id="cpu">{{ cpu }} %</td>
        </tr>
        </tbody>
    </table>
</div>
{{ include('base/page_footer_stat3.html.twig') }}
