{{ include('base/page_header.html.twig') }}
<div style="margin: 200px auto; width: 700px;">
    <table class="table table-bordered table-striped" style="width: auto; margin-top: 20px;">
        <thead>
        <tr>
            <th>Total Asin Usage</th>
            <th>In Progress</th>
            <th>Success</th>
            <th>Failed</th>
            <th>Captcha</th>
            <th>Amazon 404</th>
            <th>Amazon 500</th>
            <th>CPU</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="total">{{ total }}</td>
            <td id="progress">{{ progress }}</td>
            <td id="success">{{ success }}</td>
            <td id="failed">{{ failed }}</td>
            <td id="captcha">{{ captcha }}</td>
            <td id="amazon404">{{ amazon404 }}</td>
            <td id="amazon500">{{ amazon500 }}</td>
            <td id="cpu">{{ cpu }} %</td>
        </tr>
        </tbody>
    </table>
</div>
{{ include('base/page_footer_stat5.html.twig') }}
