</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/stat3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</html>
