{{ include('base/page_header.html.twig') }}
<table class="table table-bordered table-responsive table-striped table-condensed" style="width: auto; margin-top: 20px;">
    <thead>
    <tr>
        <th>IP</th>
        <th>Usage</th>
        <th>Success</th>
        <th>Success %</th>
        <th>Captcha</th>
        <th>Captcha %</th>
    </tr>
    </thead>
    <tbody>
    {% for proxy in proxies %}
        <tr>
            <td>{{ proxy.ip }}</td>
            <td>{{ proxy.usage }}</td>
            <td>{{ proxy.success }}</td>
            <td>{{ proxy.successP }}</td>
            <td>{{ proxy.captcha }}</td>
            <td>{{ proxy.captchaP }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ include('base/page_footer.html.twig') }}