{{ include('base/page_header.html.twig') }}
<h4>Available Fields:</h4>
<table class="table table-bordered table-condensed table-striped table-hovered" style="width: auto;">
    <thead>
    <tr>
        <th>Field Name</th>
        <th>Data Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>sellerId</td>
        <td>string</td>
    </tr>
    <tr>
        <td>marketplaceId</td>
        <td>string</td>
    </tr>
    <tr>
        <td>sellerName</td>
        <td>string</td>
    </tr>
    <tr>
        <td>totalCount</td>
        <td>string</td>
    </tr>
    <tr>
        <td>info</td>
        <td>HTML</td>
    </tr>
    <tr>
        <td>impressum</td>
        <td>HTML</td>
    </tr>
    <tr>
        <td>reviewPositive</td>
        <td>float</td>
    </tr>
    <tr>
        <td>reviewCount</td>
        <td>integer</td>
    </tr>
    <tr>
        <td>reviewBlock</td>
        <td>HTML</td>
    </tr>
    </tbody>
</table>
<h4>Methods:</h4>
<table class="table table-bordered table-condensed table-striped table-hovered" style="width: auto;">
    <thead>
    <tr>
        <th>URL</th>
        <th>Request Type</th>
        <th>Parameters</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>/api/sellerIds</td>
        <td>GET</td>
        <td>no parameters</td>
        <td>All parsed sellerId with "totalCount" field value > 0</td>
    </tr>
    <tr>
        <td>/api/singleSellerId</td>
        <td>GET</td>
        <td>
            sellerId string (require)<br>
            fields json (optional)<br>
        </td>
        <td>All parsed sellerId with "totalCount" field value > 0</td>
    </tr>
    </tbody>
</table>
{{ include('base/page_footer.html.twig') }}